In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import sklearn
from sklearn import linear_model, metrics, preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import r2_score, f1_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PowerTransformer
import scipy
from scipy import stats

In [3]:
df=pd.read_csv("dataframe_for_model.csv")
df

,user_score,developer_score,publisher_score,release_month,release_year,num_pos_critic,num_mix_critic,num_neg_critic,platform_3DS,platform_DS,...,rating_RP,rating_T,genre_2_RPG,genre_2_Strategy,genre_2_action,genre_2_adventure,genre_2_arcade,genre_2_simulator,genre_2_sports,score
0,2.297656,0.672474,0.991054,11,1998,22,0,0,0,0,...,0,0,0,0,0,1,0,0,0,99
1,0.278088,1.308206,-0.404405,9,2000,19,0,0,0,0,...,0,1,0,0,0,0,0,0,1,98
2,0.598264,3.192685,1.993658,4,2008,64,0,0,0,0,...,0,0,0,0,1,0,0,0,0,98
3,1.447404,-0.164749,-0.078875,9,1999,24,0,0,0,0,...,0,1,0,0,1,0,0,0,0,98
4,0.710655,3.192685,1.993658,4,2008,86,0,0,0,0,...,0,0,0,0,1,0,0,0,0,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19159,-2.122507,-2.740225,-3.700344,4,2017,0,0,15,0,0,...,0,0,0,0,0,0,0,0,1,17
19160,-2.309357,-0.164749,-4.358330,5,2009,0,0,11,0,0,...,0,0,0,0,0,1,0,0,0,17
19161,-1.783429,-0.650037,-0.714838,10,2007,0,0,7,0,0,...,0,0,0,0,0,0,0,0,1,17
19162,-2.345944,-1.940564,-0.561491,6,2013,0,0,9,0,0,...,0,0,0,0,1,0,0,0,0,16
19163,-2.242009,-2.530550,-1.558383,12,2012,0,0,8,0,0,...,0,0,0,0,0,0,1,0,0,11

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19164 entries, 0 to 19163
Data columns (total 45 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   user_score                 19164 non-null  float64
 1   developer_score            19164 non-null  float64
 2   publisher_score            19164 non-null  float64
 3   release_month              19164 non-null  int64
 4   release_year               19164 non-null  int64
 5   num_pos_critic             19164 non-null  int64
 6   num_mix_critic             19164 non-null  int64
 7   num_neg_critic             19164 non-null  int64
 8   platform_3DS               19164 non-null  int64
 9   platform_DS                19164 non-null  int64
 10  platform_Dreamcast         19164 non-null  int64
 11  platform_Game Boy Advance  19164 non-null  int64
 12  platform_GameCube          19164 non-null  int64
 13  platform_Nintendo 64       19164 non-null  int64
 14  platform_PC                19164 non-null  int64
 15  platform_PSP               19164 non-null  int64
 16  platform_PlayStation       19164 non-null  int64
 17  platform_PlayStation 2     19164 non-null  int64
 18  platform_PlayStation 3     19164 non-null  int64
 19  platform_PlayStation 4     19164 non-null  int64
 20  platform_PlayStation 5     19164 non-null  int64
 21  platform_PlayStation Vita  19164 non-null  int64
 22  platform_Stadia            19164 non-null  int64
 23  platform_Switch            19164 non-null  int64
 24  platform_Wii               19164 non-null  int64
 25  platform_Wii U             19164 non-null  int64
 26  platform_Xbox              19164 non-null  int64
 27  platform_Xbox 360          19164 non-null  int64
 28  platform_Xbox One          19164 non-null  int64
 29  platform_Xbox Series X     19164 non-null  int64
 30  rating_AO                  19164 non-null  int64
 31  rating_E                   19164 non-null  int64
 32  rating_E10+                19164 non-null  int64
 33  rating_K-A                 19164 non-null  int64
 34  rating_M                   19164 non-null  int64
 35  rating_RP                  19164 non-null  int64
 36  rating_T                   19164 non-null  int64
 37  genre_2_RPG                19164 non-null  int64
 38  genre_2_Strategy           19164 non-null  int64
 39  genre_2_action             19164 non-null  int64
 40  genre_2_adventure          19164 non-null  int64
 41  genre_2_arcade             19164 non-null  int64
 42  genre_2_simulator          19164 non-null  int64
 43  genre_2_sports             19164 non-null  int64
 44  score                      19164 non-null  int64
dtypes: float64(3), int64(42)
memory usage: 6.6 MB

In [5]:
df['release_month'] = pd.Categorical(df['release_month'])

In [6]:
y=df["score"]
y

0        99
1        98
2        98
3        98
4        98
         ..
19159    17
19160    17
19161    17
19162    16
19163    11
Name: score, Length: 19164, dtype: int64

In [7]:
X=df.drop("score",axis=1)
X

,user_score,developer_score,publisher_score,release_month,release_year,num_pos_critic,num_mix_critic,num_neg_critic,platform_3DS,platform_DS,...,rating_M,rating_RP,rating_T,genre_2_RPG,genre_2_Strategy,genre_2_action,genre_2_adventure,genre_2_arcade,genre_2_simulator,genre_2_sports
0,2.297656,0.672474,0.991054,11,1998,22,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0.278088,1.308206,-0.404405,9,2000,19,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,0.598264,3.192685,1.993658,4,2008,64,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
3,1.447404,-0.164749,-0.078875,9,1999,24,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
4,0.710655,3.192685,1.993658,4,2008,86,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19159,-2.122507,-2.740225,-3.700344,4,2017,0,0,15,0,0,...,0,0,0,0,0,0,0,0,0,1
19160,-2.309357,-0.164749,-4.358330,5,2009,0,0,11,0,0,...,1,0,0,0,0,0,1,0,0,0
19161,-1.783429,-0.650037,-0.714838,10,2007,0,0,7,0,0,...,0,0,0,0,0,0,0,0,0,1
19162,-2.345944,-1.940564,-0.561491,6,2013,0,0,9,0,0,...,1,0,0,0,0,1,0,0,0,0
19163,-2.242009,-2.530550,-1.558383,12,2012,0,0,8,0,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [9]:
lr = linear_model.LinearRegression()
trained_model=lr.fit(X=X_train, y=y_train)

In [10]:
predicted=trained_model.predict(X_test)

In [11]:
trained_model

LinearRegression()

In [12]:
predicted

array([55.66517283, 64.61037008, 81.6801033 , ..., 67.07652458,
       70.83998114, 74.22144797])

In [13]:
r2_score(y_test,predicted)

0.7766071831001248