In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import sklearn
from sklearn import linear_model, metrics, preprocessing
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import r2_score, f1_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PowerTransformer
import scipy
from scipy import stats
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df=pd.read_csv("dataframe_for_visual.csv")
df

,game_name,user_score,platform,developer,developer_score,publisher,publisher_score,rating,release_month,release_year,num_crit_review,num_pos_critic,num_mix_critic,num_neg_critic,descriptions,genre_2,score
0,The Legend of Zelda: Ocarina of Time,9.1,Nintendo 64,Nintendo,76.0,Nintendo,76.0,E,11,1998,22,22,0,0,"As a young boy, Link is tricked by Ganondorf, ...",adventure,99
1,Tony Hawk's Pro Skater 2,7.5,PlayStation,Neversoft Entertainment,80.0,Activision,68.0,T,9,2000,19,19,0,0,As most major publishers' development efforts ...,sports,98
2,Grand Theft Auto IV,7.8,PlayStation 3,Rockstar North,90.0,Rockstar Games,81.0,M,4,2008,64,64,0,0,[Metacritic's 2008 PS3 Game of the Year; Also ...,action,98
3,SoulCalibur,8.5,Dreamcast,Namco,70.0,Namco,70.0,T,9,1999,24,24,0,0,"This is a tale of souls and swords, transcendi...",action,98
4,Grand Theft Auto IV,7.9,Xbox 360,Rockstar North,90.0,Rockstar Games,81.0,M,4,2008,86,86,0,0,[Metacritic's 2008 Xbox 360 Game of the Year; ...,action,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19159,Vroom in the Night Sky,3.2,Switch,Poisoft,37.0,Poisoft,37.0,E,4,2017,15,0,0,15,Vroom in the night sky is a magical bike actio...,sports,17
19160,Leisure Suit Larry: Box Office Bust,1.9,PlayStation 3,Team17,70.0,Funsta,21.0,M,5,2009,11,0,0,11,The Leisure Suit Larry: Box Office Bust video ...,adventure,17
19161,Yaris,4.4,Xbox 360,Backbone Entertainment,66.0,Backbone Entertainment,66.0,E10+,10,2007,7,0,0,7,[Xbox Live Arcade] Hop into a Toyota Yaris an...,sports,17
19162,Ride to Hell: Retribution,1.4,PC,Eutechnyx,52.0,Deep Silver,67.0,M,6,2013,9,0,0,9,The game is set in the last years of the roari...,action,16
19163,Family Party: 30 Great Games Obstacle Arcade,2.5,Wii U,"Art Co., Ltd.",42.0,D3Publisher,60.0,E,12,2012,8,0,0,8,Family Party: 30 Great Games Obstacle Arcade b...,arcade,11

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19164 entries, 0 to 19163
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_name        19164 non-null  object
 1   user_score       19164 non-null  float64
 2   platform         19164 non-null  object
 3   developer        19164 non-null  object
 4   developer_score  19164 non-null  float64
 5   publisher        19164 non-null  object
 6   publisher_score  19164 non-null  float64
 7   rating           19164 non-null  object
 8   release_month    19164 non-null  int64
 9   release_year     19164 non-null  int64
 10  num_crit_review  19164 non-null  int64
 11  num_pos_critic   19164 non-null  int64
 12  num_mix_critic   19164 non-null  int64
 13  num_neg_critic   19164 non-null  int64
 14  descriptions     19164 non-null  object
 15  genre_2          19164 non-null  object
 16  score            19164 non-null  int64
dtypes: float64(3), int64(7), object(7)
memory usage: 2.5+ MB

In [5]:
df['release_month'] = pd.Categorical(df['release_month'])

In [7]:
df_for_model=df.drop(['num_crit_review','publisher','developer','descriptions','game_name'],axis=1)
df_for_model

,user_score,platform,developer_score,publisher_score,rating,release_month,release_year,num_pos_critic,num_mix_critic,num_neg_critic,genre_2,score
0,9.1,Nintendo 64,76.0,76.0,E,11,1998,22,0,0,adventure,99
1,7.5,PlayStation,80.0,68.0,T,9,2000,19,0,0,sports,98
2,7.8,PlayStation 3,90.0,81.0,M,4,2008,64,0,0,action,98
3,8.5,Dreamcast,70.0,70.0,T,9,1999,24,0,0,action,98
4,7.9,Xbox 360,90.0,81.0,M,4,2008,86,0,0,action,98
...,...,...,...,...,...,...,...,...,...,...,...,...
19159,3.2,Switch,37.0,37.0,E,4,2017,0,0,15,sports,17
19160,1.9,PlayStation 3,70.0,21.0,M,5,2009,0,0,11,adventure,17
19161,4.4,Xbox 360,66.0,66.0,E10+,10,2007,0,0,7,sports,17
19162,1.4,PC,52.0,67.0,M,6,2013,0,0,9,action,16
19163,2.5,Wii U,42.0,60.0,E,12,2012,0,0,8,arcade,11

In [8]:
catagory_list=['platform','rating','genre_2']
for catag in catagory_list:
        df_for_model[catag]= df_for_model[catag].astype('category')
        df_for_model=pd.get_dummies(df_for_model,columns=[catag],prefix=[catag])

In [9]:
df_for_model=df_for_model[["user_score","developer_score","publisher_score","release_month","release_year",
                           "num_pos_critic","num_mix_critic","num_neg_critic","platform_3DS","platform_DS",
                           "platform_Dreamcast","platform_Game Boy Advance","platform_GameCube","platform_Nintendo 64",
                           "platform_PC","platform_PSP","platform_PlayStation","platform_PlayStation 2","platform_PlayStation 3",
                           "platform_PlayStation 4","platform_PlayStation 5","platform_PlayStation Vita","platform_Stadia",
                           "platform_Switch","platform_Wii","platform_Wii U","platform_Xbox","platform_Xbox 360","platform_Xbox One",
                           "platform_Xbox Series X","rating_AO","rating_E","rating_E10+","rating_K-A","rating_M","rating_RP",
                          "rating_T","genre_2_RPG","genre_2_Strategy","genre_2_action","genre_2_adventure","genre_2_arcade",
                           "genre_2_simulator","genre_2_sports","score"]]
df_for_model

,user_score,developer_score,publisher_score,release_month,release_year,num_pos_critic,num_mix_critic,num_neg_critic,platform_3DS,platform_DS,...,rating_RP,rating_T,genre_2_RPG,genre_2_Strategy,genre_2_action,genre_2_adventure,genre_2_arcade,genre_2_simulator,genre_2_sports,score
0,9.1,76.0,76.0,11,1998,22,0,0,0,0,...,0,0,0,0,0,1,0,0,0,99
1,7.5,80.0,68.0,9,2000,19,0,0,0,0,...,0,1,0,0,0,0,0,0,1,98
2,7.8,90.0,81.0,4,2008,64,0,0,0,0,...,0,0,0,0,1,0,0,0,0,98
3,8.5,70.0,70.0,9,1999,24,0,0,0,0,...,0,1,0,0,1,0,0,0,0,98
4,7.9,90.0,81.0,4,2008,86,0,0,0,0,...,0,0,0,0,1,0,0,0,0,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19159,3.2,37.0,37.0,4,2017,0,0,15,0,0,...,0,0,0,0,0,0,0,0,1,17
19160,1.9,70.0,21.0,5,2009,0,0,11,0,0,...,0,0,0,0,0,1,0,0,0,17
19161,4.4,66.0,66.0,10,2007,0,0,7,0,0,...,0,0,0,0,0,0,0,0,1,17
19162,1.4,52.0,67.0,6,2013,0,0,9,0,0,...,0,0,0,0,1,0,0,0,0,16
19163,2.5,42.0,60.0,12,2012,0,0,8,0,0,...,0,0,0,0,0,0,1,0,0,11

In [10]:
#this code was given to us from a friend that works as a data scientist
scaled_list=['user_score','developer_score','publisher_score','num_pos_critic','num_neg_critic','num_mix_critic']
for cat in scaled_list:
    
    k2, p = stats.normaltest(df_for_model[cat])
    alpha = 0.05

    if p < alpha:  # null hypothesis: x comes from a normal distribution
        vec = np.array(df_for_model[cat])
        pt = PowerTransformer(method='yeo-johnson')
        vec = vec.reshape(-1, 1)
        pt.fit(vec)
        transformed_data = pt.transform(vec)
        transformed_data = [i[0] for i in transformed_data]
        df_for_model[cat] = transformed_data       

    else:
        vec = np.array(df_for_model[cat])
        scale = StandardScaler()
        vec = vec.reshape(-1, 1)
        scale.fit(vec)
        transformed_data = scale.transform(vec)
        transformed_data = [i[0] for i in transformed_data]
        df_for_model[cat] = transformed_data

In [12]:
df_for_model.to_csv("dataframe_for_model.csv",index=False)
df_for_model

,user_score,developer_score,publisher_score,release_month,release_year,num_pos_critic,num_mix_critic,num_neg_critic,platform_3DS,platform_DS,...,rating_RP,rating_T,genre_2_RPG,genre_2_Strategy,genre_2_action,genre_2_adventure,genre_2_arcade,genre_2_simulator,genre_2_sports,score
0,2.297656,0.672474,0.991054,11,1998,0.938100,-2.067688,-0.822358,0,0,...,0,0,0,0,0,1,0,0,0,99
1,0.278088,1.308206,-0.404405,9,2000,0.805895,-2.067688,-0.822358,0,0,...,0,1,0,0,0,0,0,0,1,98
2,0.598264,3.192685,1.993658,4,2008,1.952246,-2.067688,-0.822358,0,0,...,0,0,0,0,1,0,0,0,0,98
3,1.447404,-0.164749,-0.078875,9,1999,1.017443,-2.067688,-0.822358,0,0,...,0,1,0,0,1,0,0,0,0,98
4,0.710655,3.192685,1.993658,4,2008,2.247038,-2.067688,-0.822358,0,0,...,0,0,0,0,1,0,0,0,0,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19159,-2.122507,-2.740225,-3.700344,4,2017,-1.803902,-2.067688,1.776511,0,0,...,0,0,0,0,0,0,0,0,1,17
19160,-2.309357,-0.164749,-4.358330,5,2009,-1.803902,-2.067688,1.732520,0,0,...,0,0,0,0,0,1,0,0,0,17
19161,-1.783429,-0.650037,-0.714838,10,2007,-1.803902,-2.067688,1.639806,0,0,...,0,0,0,0,0,0,0,0,1,17
19162,-2.345944,-1.940564,-0.561491,6,2013,-1.803902,-2.067688,1.696105,0,0,...,0,0,0,0,1,0,0,0,0,16
19163,-2.242009,-2.530550,-1.558383,12,2012,-1.803902,-2.067688,1.671313,0,0,...,0,0,0,0,0,0,1,0,0,11

In [13]:
y=df_for_model["score"]
y

0        99
1        98
2        98
3        98
4        98
         ..
19159    17
19160    17
19161    17
19162    16
19163    11
Name: score, Length: 19164, dtype: int64

In [14]:
X=df_for_model.drop("score",axis=1)
X

,user_score,developer_score,publisher_score,release_month,release_year,num_pos_critic,num_mix_critic,num_neg_critic,platform_3DS,platform_DS,...,rating_M,rating_RP,rating_T,genre_2_RPG,genre_2_Strategy,genre_2_action,genre_2_adventure,genre_2_arcade,genre_2_simulator,genre_2_sports
0,2.297656,0.672474,0.991054,11,1998,0.938100,-2.067688,-0.822358,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0.278088,1.308206,-0.404405,9,2000,0.805895,-2.067688,-0.822358,0,0,...,0,0,1,0,0,0,0,0,0,1
2,0.598264,3.192685,1.993658,4,2008,1.952246,-2.067688,-0.822358,0,0,...,1,0,0,0,0,1,0,0,0,0
3,1.447404,-0.164749,-0.078875,9,1999,1.017443,-2.067688,-0.822358,0,0,...,0,0,1,0,0,1,0,0,0,0
4,0.710655,3.192685,1.993658,4,2008,2.247038,-2.067688,-0.822358,0,0,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19159,-2.122507,-2.740225,-3.700344,4,2017,-1.803902,-2.067688,1.776511,0,0,...,0,0,0,0,0,0,0,0,0,1
19160,-2.309357,-0.164749,-4.358330,5,2009,-1.803902,-2.067688,1.732520,0,0,...,1,0,0,0,0,0,1,0,0,0
19161,-1.783429,-0.650037,-0.714838,10,2007,-1.803902,-2.067688,1.639806,0,0,...,0,0,0,0,0,0,0,0,0,1
19162,-2.345944,-1.940564,-0.561491,6,2013,-1.803902,-2.067688,1.696105,0,0,...,1,0,0,0,0,1,0,0,0,0
19163,-2.242009,-2.530550,-1.558383,12,2012,-1.803902,-2.067688,1.671313,0,0,...,0,0,0,0,0,0,0,1,0,0

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [16]:
lr = linear_model.LinearRegression()
trained_model=lr.fit(X=X_train, y=y_train)

In [17]:
predicted=trained_model.predict(X_test)

In [18]:
trained_model

LinearRegression()

In [19]:
predicted

array([56.39875782, 63.39526157, 85.48463718, ..., 63.87620159,
       76.21589488, 77.29387167])

In [20]:
r2_score(y_test,predicted)

0.8668819785220941